/* Write your CSS here */
.bgColor {
  background-image: linear-gradient(to bottom, #ff8542, #ffc2a0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.WhiteCard {
  background-color: white;
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border-width: 0px;
}
h1 {
  color: #ff8542;
  font-size: 24px;
  font-family: Roboto;
}
